<h2><%= @movie.title %></h2>
<h3>Year Released:<%= @movie.creation_year %></h3>
<h3>Genre:<%= @movie.genre %></h3>
<div id="actors">
  <% @actor_sort.each do |actor| %>
    <%= actor.name %><br>
  <% end %>
  <h4>Average Actor Age: <%= @actor_age %></h4>
</div>
<h3>Add Actor</h3>
<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |form| %>
  <%= form.label "Actor ID" %>
  <%= form.number_field :actor_id %>
  <%= form.submit "Submit" %>
<% end %>