<h2>Studios:</h2>
<% @studios.each do |studio| %>
  <div id="studio_id-<%= studio.id %>">
  <h2><%= studio.name %></h2><h3><%= studio.location %></h3><br>
  <% studio.movies.each do |movie| %>
    <div id="movie_id-<%= movie.id %>">
    <h4><%= movie.title %></h4>
    <h4><%= movie.creation_year %></h4>
    <h4><%= movie.genre %></h4><br>
    </div>
  <% end %><br>
  </div>
<% end %>